Q1). Write a lambda function that takes an integer 'year' and returns 'age'.

In [12]:
import numpy as np

data = np.random.randint(0,255, (5,2))
print(data)

result = data.mean(axis = 0)

stu = data.max(axis = 1)

print(stu)

[[ 58  90]
 [242 154]
 [187 225]
 [110 189]
 [ 92  23]]
[ 90 242 225 189  92]

In [4]:
age = 32
height = 1.75
name_var = ("Name", age, height, "Myo", 32, 5)

name_var[0][1]

'a'

In [20]:
import pandas as pd

df = pd.read_csv("./data/HR_5000 Records.csv")
df.head(10)

data_copy =df[["Emp ID", "E Mail"]].copy()

data_copy

      Emp ID                         E Mail
0     526540    angelique.goodwin@gmail.com
1     859327         jeni.shaffer@gmail.com
2     887387    donald.farris@bellsouth.net
3     779497        steven.rendon@gmail.com
4     896517       jenell.almanza@yahoo.com
...      ...                            ...
4997  488800  roberto.harter@exxonmobil.com
4998  428330      brittni.cyr@earthlink.net
4999  313027         gerald.beaudry@shaw.ca
5000  826852         emilee.emery@gmail.com
5001  948300        larhonda.dozier@aol.com

[5002 rows x 2 columns]

In [5]:
from datetime import datetime

current_year = datetime.now().year
calculate_age = lambda year: current_year - year
calculate_age(2000)

24

Q2) Write a lambda function that takes a float "cost" and returns a float "price" by adding 10% to the cost.

In [6]:
calculate_pirce = lambda cost: cost + cost*0.10

calculate_pirce(56)

61.6

Q3) For the given name list : names = ['Richard', 'Karam', 'Karpo', 'Sonam', 'Ugyen']

Write a python program that converts each name into email address. The domain is given as gmail.

In [7]:
names = ['Richard', 'Karam', 'Karpo', 'Sonam', 'Ugyen']
create_email = lambda name: name.lower()+'@gmail.com'
emails = [*map(create_email, names)]
emails

['richard@gmail.com',
 'karam@gmail.com',
 'karpo@gmail.com',
 'sonam@gmail.com',
 'ugyen@gmail.com']

Q4) Write a lambda function that takes two strings 'name' , 'domain' and returns an email address (string).

In [8]:
create_custom_email = lambda name, domain: name.lower()+'@'+domain
create_custom_email('myo', 'drmyothida.com')

'myo@drmyothida.com'

Q5) old_list = [2, 4, 6, 7, 9]

write a for loop to square each element of the given old_list.

In [9]:
# list comprehension
old_list = [2, 4, 6, 7, 9]
new_list1 = [item**2 for item in old_list] 

#2nd method
new_list2 = []
for item in old_list:
    new_list2.append(item**2)

print(new_list1, new_list2)

[4, 16, 36, 49, 81] [4, 16, 36, 49, 81]